header {
  min-height: 70px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

header .logo {
  flex: 1;
}

header a {
  text-transform: uppercase;
  color: #555;
}

header ul li {
  display: inline-block;
  opacity: 0.7;
  padding: 0 20px;
}
header ul li:hover {
  opacity: 1;
}

.menu {
  display: none;
}

.avatar-img {
  width: 30px;
  height: 30px;
  transform: translateY(10px);
  border-radius: 50%;
}

/* 
height của drop nav này dùng tạm , nên xóa đi */
.drop-nav {
  position: relative;
  padding: 10px 0;
  height: 100px;
}

.drop-nav a {
  text-transform: capitalize;
  overflow: hidden;
}
.dropdown {
  position: absolute;
  background: #282c34;
  width: 100%;
  width: calc(100% + 30px);
  top: 50px;
  display: none;
}

.drop-nav:hover .dropdown {
  display: block;
}

header ul {
  transform: translateY(-5px);
}
