.survery-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
    min-height: 700px;
    padding: 100px 0px;
    .survery-content{
        width: 700px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 50px;
        .item-container{
            list-style-type: none;
            border: 1px solid gray;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            gap: 15px;
            border-radius: 16px;
            &:hover{
                cursor: pointer;
            }
            .item-image{
                width: 20px;
                height: 20px;
                border-radius: 50%;
                object-fit: fill;
            }
        }
        .item-container.active{
            border: 1px black solid;
            background-color:white;
            color: black;
        }
    }
    .button-group{
        .survey-button{
            background-color: #007bff;
            padding: 5px 10px;
            color: white;
            border-radius: 16px;
            &:disabled{
                background-color: gray;
            }
        }
    }
}