@use "../../../scss/breakpoint" as *;

.movie_detail_list {
  .swiper-slide {
    width: fit-content;

    @include tablet {
      width: 30%;
    }

    @include mobile {
      width: 40%;
    }
  }
}
