.Movie_News_Item_container {
  width: 400px;
  height: 100px;
  display: flex;
  padding: 1rem;
  border: 0.5px ridge #343434;
  .Movie_News_Item_img {
    width: 120px;
    height: 70px;
    object-fit: cover;
  }
  .Movie_News_Item_info {
    width: 280px;
    height: 90px;
    margin: 0 1rem 1rem 1rem;
    .Movie_News_Item_info_title {
      font-size: 16px;
    }
    .Movie_News_Item_info_time {
      font-size: 12px;
      color: #666060;
    }
  }
}
.Movie_News_Item_info_icon {
  display: none;
  color: white;
  cursor: pointer;
}
.Movie_News_Item_container:hover {
  background-color: black;
  display: flex;
  .Movie_News_Item_info_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    :hover {
      color: white;
    }
  }
}
.Movie_News_Item_Link {
  :hover {
    color: #e50914;
  }
  width: fit-content;
  height: fit-content;
  max-width: 200px;
}
