.Movie_News_List_container {
  width: 500px;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-top: 1px ridge white;
  border-bottom: 0.5px ridge #343434;
  background-color: transparent;
}
.Movie_News_List {
  position: relative;
  width: fit-content;
}
.Movie_News_List ::before {
  content: "\A";
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent white transparent transparent;
  position: absolute;
  position: absolute;
  top: -20px;
  right: 1rem;
  width: 20px;
  height: 20px;
  transform: rotate(90deg);
}
