.Movie_News_Item_container {
  width: 650px;
  height: 150px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  padding: 10px;
  border: 0.5px ridge #343434;
  .Movie_News_Item_img {
    width: 200px;
    height: 110px;
    object-fit: cover;
  }
  .Movie_News_Item_info {
    width: 340px;
    height: 100%;
    padding: 10px 0;
    ::before {
      display: none;
    }
    .Movie_News_Item_info_title {
      height: 18%;
      font-size: 16px;
    }
    .Movie_News_Item_info_desc_container {
      height: 75%;
      padding: 5px 0;
      //background-color: #09e514;
    }
    .Movie_News_Item_info_desc {
      height: 100%;
      color: #666060;
      font-size: 14px;
      font-weight: 500;
      display: block; /* or inline-block */
      text-overflow: ellipsis;
      word-wrap: break-word;
      overflow: hidden;
      line-height: 23px;
      //background-color: #e50914;
    }
    .Movie_News_Item_info_time {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      height: 7%;
      font-size: 12px;
      color: #666060;
      //background-color: #09e565;
    }
  }
  .Movie_News_Item_info_icon {
    position: relative;
    padding: 10px 0;
    width: 10px;
    display: none;
    color: white;
    justify-content: center;
    cursor: pointer;
    //background-color: #e50914;
  }
  .Movie_News_Item_info_icon::before {
    display: none;
  }
  .Movie_News_Item_check_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    color: green;
  }
  .Movie_News_Item_check_icon.active {
    color: transparent;
  }
}
.Movie_News_Item_container:hover {
  background-color: black;
  display: flex;
  .Movie_News_Item_info_icon {
    display: block;
  }
}
.Movie_News_Item_Link {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  :hover {
    color: white;
  }
}
.Movie_News_Item_info_icon_drop_list {
  position: absolute;
  height: fit-content;
  box-sizing: content-box;
  border-radius: 5px;
  width: 120px;
  font-size: 15px;
  right: -1rem;
  top: 3.5rem;
  background-color: white;
  padding: 10px;
  display: none;
  flex-direction: column;
  row-gap: 5px;
}
.Movie_News_Item_info_icon_drop_list::before {
  content: "\A";
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent white transparent transparent;
  position: absolute;
  position: absolute;
  top: -16px;
  right: 0.2rem;
  width: 20px;
  height: 20px;
  transform: rotate(90deg);
}
.Movie_News_Item_info_icon_drop_list_option::before {
  display: none;
}
.Movie_News_Item_info_icon_drop_list_option {
  color: black;
  //background-color: #e50914;
}
.Movie_News_Item_info_icon_drop_list_option:hover {
  color: #e50914;
}
.Movie_News_Item_info_icon:hover {
  .Movie_News_Item_info_icon_drop_list {
    display: flex;
  }
}
