.Movie_News_Item_container {
  width: 650px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  padding: 10px;
  border: 0.5px ridge #343434;
}

.Movie_News_Item_container .Movie_News_Item_img {
  width: 200px;
  height: 110px;
  -o-object-fit: cover;
     object-fit: cover;
}

.Movie_News_Item_container .Movie_News_Item_info {
  width: 340px;
  height: 100%;
  padding: 10px 0;
}

.Movie_News_Item_container .Movie_News_Item_info ::before {
  display: none;
}

.Movie_News_Item_container .Movie_News_Item_info .Movie_News_Item_info_title {
  height: 18%;
  font-size: 16px;
}

.Movie_News_Item_container .Movie_News_Item_info .Movie_News_Item_info_desc_container {
  height: 75%;
  padding: 5px 0;
}

.Movie_News_Item_container .Movie_News_Item_info .Movie_News_Item_info_desc {
  height: 100%;
  color: #666060;
  font-size: 14px;
  font-weight: 500;
  display: block;
  /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  line-height: 23px;
}

.Movie_News_Item_container .Movie_News_Item_info .Movie_News_Item_info_time {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 7%;
  font-size: 12px;
  color: #666060;
}

.Movie_News_Item_container .Movie_News_Item_info_icon {
  position: relative;
  padding: 10px 0;
  width: 10px;
  display: none;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.Movie_News_Item_container .Movie_News_Item_info_icon::before {
  display: none;
}

.Movie_News_Item_container .Movie_News_Item_check_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  color: green;
}

.Movie_News_Item_container .Movie_News_Item_check_icon.active {
  color: transparent;
}

.Movie_News_Item_container:hover {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Movie_News_Item_container:hover .Movie_News_Item_info_icon {
  display: block;
}

.Movie_News_Item_Link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Movie_News_Item_Link :hover {
  color: white;
}

.Movie_News_Item_info_icon_drop_list {
  position: absolute;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-radius: 5px;
  width: 120px;
  font-size: 15px;
  right: -1rem;
  top: 3.5rem;
  background-color: white;
  padding: 10px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}

.Movie_News_Item_info_icon_drop_list::before {
  content: "\A";
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent white transparent transparent;
  position: absolute;
  position: absolute;
  top: -16px;
  right: 0.2rem;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.Movie_News_Item_info_icon_drop_list_option::before {
  display: none;
}

.Movie_News_Item_info_icon_drop_list_option {
  color: black;
}

.Movie_News_Item_info_icon_drop_list_option:hover {
  color: #2596be;
}

.Movie_News_Item_info_icon:hover .Movie_News_Item_info_icon_drop_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=Movie_News_Item.css.map */