.section-people-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    .people-page-container{
        display: flex;
        width: 100%;
        max-width: 1400px;
        min-height: 1000px;
        padding: 30px 20px;//clamp
        gap: 30px;
        overflow: hidden;
        .left-column-container{
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            max-width: 300px;
            .left-column-img{
                width: clamp(200px, 42.85714286vw, 300px);
                height: clamp(300px, 64.28571429vw, 450px);
                border-radius: 10px;
                object-fit: cover;
                overflow: hidden;
            }
            .left-column-media{
                width: 100%;
                display: flex;
                gap: 15px;
                .media-item{
                    width: 30px;
                    height: 30px;
                    background-color: black;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .left-column-info{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 20px;
                color: black;
                width: 100%;
                .column-title{
                    width: 100%;
                    display: flex;
                    font-size: 1.5em;
                    font-weight: 700;
                    align-items: center;
                    justify-content: flex-start;
                }
                .info-item{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    align-items: flex-start;
                    justify-content: center;
                    text-align: left;
                    .info-title{
                        width: 100%;
                        display: flex;
                        font-size: 1.3em;
                        font-weight: 600;
                        align-items: center;
                        justify-content: flex-start;
                    }
                    .info-text{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        font-size: 1em;
                        align-items: flex-start;
                        justify-content: center;
                        gap: 5px;
                    }
                }
            }
        }
        .right-column-container{
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            color: black;
            width: calc(clamp(100px, 100vw, 1400px) - 70px - clamp(200px, 42.85714286vw, 300px));
            .right-column-title{
                width: 100%;
                display: flex;
                font-size: 2rem;
                font-weight: 700;
            }
            .right-column-bio{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 15px;
                .bio-title{
                    width: 100%;
                    display: flex;
                    font-size: 1.2rem;
                    font-weight: 600;
                }
                .bio-content{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    max-height: 300px;
                    overflow: hidden;
                }
            }
            .know-for{
                display: flex;
                width: 100%;
                overflow-x: scroll;
                .item-container{
                    height: 100%;
                    display: flex;
                    gap: 10px;
                    .know-for-item{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: flex-start;
                        border-radius: 8px;
                        overflow: hidden;
                        object-fit: cover;
                        padding-bottom: 10px;
                        gap: 10px;
                        .item-img{
                            width: 130px;
                            height: 190px;
                        }
                        .item-title{
                            width: 100%;
                            max-width: 130px;
                            display: flex;
                            flex-wrap: wrap;
                            font-size: 0.8em;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}